* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Dosis", sans-serif;
}

body {
  color: #0e6642;
  background-color: white;
}

h1 {
  font-size: 75px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-size: 30px;
}

hr {
  width: 100%;
  height: 4px;
  background-color: #0e6642;
}

button {
  font-weight: 700;
  outline: none;
  background-color: transparent;
  border: transparent;
  font-family: "Dosis", sans-serif;
  color: #0e6642;
}

select {
  color: #0e6642;
}

input {
  outline: none;
  color: #0e6642;
}

textarea {
  outline: none;
  color: #0e6642;
}

table {
  font-family: "Dosis", sans-serif;
}

/* FONDO Y ESTILOS DE PANTALLA LOGIN */

.login-screen {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(168, 200, 47, 1) 0%,
    rgba(14, 102, 66, 1) 75%
  );
}

/* Estilos logo */
.logo-app {
  height: 37vw;
  pointer-events: none;
  margin-top: 70px;
}

/* Estilos saludo login */
.greeting-login {
  margin-top: 7vh;
  font-weight: 700;
  color: white;
}

.unregistrer-msn {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 41px;
  font-weight: 700;
  color: #993a40;
  padding: 10px;
}

/* Formulario login */
.input-btn-form {
  margin-top: 9vh;
}

/* Input login */
.input-login {
  background-color: rgba(227, 230, 230, 0.63);
  width: 60vw;
  height: 90px;
  font-size: 43px;
  font-weight: 700;
  border: transparent;
  text-align: center;
  margin-top: 30px;
  outline: 0px;
  color: rgb(227, 230, 230);
  border-radius: 50px;
}
.input-btn-form::-webkit-input-placeholder {
  color: white;
  font-weight: 700;
}

.input-btn-form:-moz-placeholder {
  color: white;
  font-weight: 700;
}

.input-btn-form::-moz-placeholder {
  color: white;
  font-weight: 700;
}

.input-btn-form:-ms-input-placeholder {
  color: white;
  font-weight: 700;
}

.input-btn-form:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Botón verde */
.btn-green {
  width: auto;
  height: 80px;
  margin-top: 50px;
  background-color: #f4981a;
  margin-bottom: 3vh;
  color: white;
  border: transparent;
  font-size: 50px;
  outline: 0px;
  border-radius: 50px;
  padding: 0px 30px;
}

.btn-green-add {
  margin-top: 0px;
}

/* ESTILOS DE PANTALLAS PLACES */
.places-screen {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
}

.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    313deg,
    rgba(168, 200, 47, 1) 0%,
    rgba(14, 102, 66, 1) 100%
  );
  position: fixed;
}

.menu-ham {
  width: 65px;
  left: 6vw;
  top: 2vh;
  margin-top: 22px;
  position: absolute;
}

.logo-nav {
  width: 11vw;
  position: relative;
  left: 2vw;
}

/* Estilos barras y mesas */
.tables-bars {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
  text-align: center;
}

.bars-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 33px;
  font-weight: 800;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  outline: 0px;
  box-shadow: 2px 2px 10px #666;
}

.tables {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.table-btn {
  width: 145px;
  height: 93px;
  border-radius: 15px;
  font-size: 33px;
  font-weight: 800;
  margin-right: 35px;
  margin-left: 35px;
  cursor: pointer;
  outline: 0px;
  box-shadow: 2px 2px 10px #666;
}
.to-go-btn {
  width: 182px;
  height: 71px;
  border-radius: 15px;
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 2vh;
  cursor: pointer;
  outline: 0px;
  box-shadow: rgb(102, 102, 102) 2px 2px 10px;
}

.rectangle-tabar-selection {
  width: 100%;
  height: 77px;
  background: #a5d8e3;
  padding: 11px 40px;
  font-size: 42px;
  font-weight: 800;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  text-align: left;
  color: #0e6642;
}

/* Sección de registro de lugar y numero de personas */
.label-detail {
  font-size: 35px;
  font-weight: 800;
}
.data-detail {
  font-size: 35px;
  font-weight: 400;
}
.people-name-number {
  width: 80%;
  height: auto;
  margin-top: 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.people-name-number p {
  display: inline;
  margin-right: 20px;
}

/* Input nombre de persona */
.input-name {
  width: 40vw;
  height: 50px;
  border: solid #a5d8e3 8px;
  border-radius: 20px;
  outline: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

/* Input Spiner */
.input-spiner {
  width: 10vw;
  height: 50px;
  border: solid #a5d8e3 8px;
  border-radius: 20px;
  outline: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.people-name-number label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

/* ESTILOS PANTALLA DE DETALLE */
.detail_screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.rectangle-tabar-detail {
  width: 100%;
  height: 77px;
  background: #a5d8e3;
  padding: 10px;
  padding: 16px 40px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  margin-top: 13vh;
  color: #0e6642;
}

.people-number-detail {
  width: 90vw;
  height: 150px;
  text-align: end;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

/* Tabla de detalle de consumo de comensal */
.diner-rectangle {
  color: #0c6573;
  font-weight: 700;
  border-radius: 25px;
}
.people-number-detail label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

.table-detail-container {
  width: 90vw;
  height: 65vh;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}
.table-detail-guest {
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 35px;
}

th,
td {
  padding: 10px;
}

td img {
  width: 30px;
}

.options_detail {
  position: relative;
  margin-right: -75px;
  margin-left: 20px;
}

.comment {
  text-align: center;
}

/* Sección de total */
.total {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 700;
  padding: 30px;
  text-align: center;
}

.total button {
  width: 280px;
  margin-top: 0px;
}

.total-input {
  width: 200px;
  height: 70px;
  border: solid #a5d8e3 8px;
  border-radius: 20px;
  margin-right: 40px;
  font-size: 40px;
  font-weight: 700;
  padding: 30px;
  text-align: right;
  padding-right: 10px;
}

.total label {
  margin-right: 20px;
}

/* SECCIÓN LISTA DE CUENTAS */
.open-account {
  margin-top: 13vh;
}
.rectangle-account {
  width: 100%;
  height: auto;
  background: #a5d8e3;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  font-size: 40px;
  font-weight: 800;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  color: #0e6642;
}

/* SECCIÓN MENÚ */
.menu {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}
.menu-draws {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
  margin-bottom: 5vh;
}

.menu-draws button {
  width: 160px;
  height: 160px;
  padding: 30px;
  margin: 6px 35px;
  border: transparent;
  border-radius: 25px;
  background: transparent;
  outline: 0px;
}

.menu-draws img {
  width: 100%;
  height: auto;
}

.menu-w-summary {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu-buy {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.menu-buy div {
  width: inherit;
  height: auto;
}

.tag-menu-product {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.btn-hd {
  margin-bottom: 26px;
}

.btn-product {
  box-shadow: 2px 2px 10px #666;
}

.tag-menu-product th,
td {
  border-color: transparent;
}

.tag-menu-product thead tr th {
  font-size: 30px;
  text-align: center;
}

.tag-menu-product tbody tr th {
  width: 236px;
  font-size: 30px;
}

.btn-inc-dec {
  background-color: white;
  width: 45px;
  height: 45px;
  font-size: 40px;
  border-radius: 50px;
  font-weight: 900;
  line-height: 40px;
  outline: 0px;
  box-shadow: 2px 2px 10px #666;
}

.increase {
  background-color: white;
}

.pizza-input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  /* border: solid 5px gray; */
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 30px;
  border: solid #a5d8e3 8px;
  font-weight: 700;
}

table {
  text-align: center;
}

.options-menu {
  font-weight: 700;
  width: 27vw;
  height: 50px;
  background-color: white;
  font-size: 25px;
  padding-left: 10px;
  outline: transparent;
  border: solid #a5d8e3 8px;
  border-radius: 50px;
}

.comments {
  width: 80vw;
  height: 15vh;
  border-radius: 25px;
  border: transparent;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  margin: 40px;
  border: solid #a5d8e3 8px;
}

.comments::-webkit-input-placeholder {
  color: #a5d8e3;
  font-weight: 700;
}

.comments:-moz-placeholder {
  color: #a5d8e3;
  font-weight: 700;
}

.comments::-moz-placeholder {
  color: #a5d8e3;
  font-weight: 700;
}

.comments:-ms-input-placeholder {
  color: #a5d8e3;
  font-weight: 700;
}

.comments:focus::-webkit-input-placeholder {
  color: transparent;
}
/* ________________________MECHE MENÚ________________________________ */
/* Individual item */
.bm-item {
  display: block;
  text-align: right;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  font-size: 35px;
  font-weight: bold;
  outline: 0px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 70px;
  height: 60px;
  left: 60px;
  top: 4vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  border-radius: 20px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(
    313deg,
    rgba(168, 200, 47, 1) 0%,
    rgba(14, 102, 66, 1) 100%
  );
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item hr {
  height: 5px;
  background-color: white;
  border: transparent;
}

.input-btn-form span {
  font-size: 40px;
}

.close {
  margin-top: 7vh;
}

@media screen and (max-width: 414px) {
  .logo-app {
    margin-top: 3vh;
  }

  .greeting-login {
    font-size: 47px;
    margin-top: 3vh;
  }
  .input-login {
    height: 44px;
    font-size: 23px;
    margin-top: 20px;
  }

  .unregistrer-msn {
    width: 318px;
    font-size: 20px;
    padding: 0px;
  }

  .btn-green {
    width: 50vw;
    height: 41px;
    margin-top: 11px;
    margin-bottom: 0vh;
    font-size: 29px;
  }

  .navbar {
    height: 13vh;
    padding: 9px;
  }

  .bm-burger-button {
    width: 31px;
    height: 25px;
    left: 21px;
    top: 4vh;
  }

  .logo-nav {
    width: 14vw;
    left: 1vw;
  }

  .bars-btn {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  .table-btn {
    width: 74px;
    height: 53px;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .to-go-btn {
    width: 74px;
    height: 57px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 5vh;
  }

  .rectangle-tabar-selection {
    height: 45px;
    padding: 4px 23px;
    font-size: 21px;
  }

  .people-name-number label {
    margin-right: 16px;
    font-size: 16px;
  }

  .input-spiner {
    width: 15vw;
    height: 39px;
    border: solid #a5d8e3 6px;
    border-radius: 12px;
    font-size: 20px;
  }

  .input-name {
    width: 75vw;
    border: solid #a5d8e3 6px;
    border-radius: 12px;
    margin-top: 8px;
    font-size: 20px;
  }

  .bm-item {
    font-size: 23px;
  }

  .menu-draws button {
    width: 75px;
    height: 75px;
    padding: 16px;
    margin: 6px 10px;
    border-radius: 18px;
  }

  table {
    font-size: 15px;
  }

  .tag-menu-product thead tr th {
    font-size: 17px;
  }

  .options-menu {
    width: 27vw;
    font-size: 12px;
    padding-left: 5px;
    border: solid #a5d8e3 6px;
    border-radius: 28px;
  }

  .pizza-input {
    width: 47px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 22px;
    border: solid #a5d8e3 6px;
  }
  td {
    padding: 0px;
  }

  .btn-inc-dec {
    width: 10px;
    height: 10px;
    font-size: 34px;
    font-weight: 900;
    background-color: transparent;
    box-shadow: none;
  }

  .comments {
    width: 67vw;
    height: 11vh;
    border-radius: 20px;
    padding: 5px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    border: solid #a5d8e3 6px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  td img {
    width: 27px;
  }

  .rectangle-account {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 9px;
    font-size: 19px;
  }

  .rectangle-tabar-detail {
    margin-top: 113px;
    margin-bottom: 10px;
    padding: 9px;
    font-size: 19px;
    height: 45px;
  }

  .people-number-detail {
    height: 57px;
    text-align: end;
    padding-top: 4px;
    font-weight: 800;
  }

  .label-detail {
    font-size: 19px;
    font-weight: 800;
  }

  .data-detail {
    font-size: 19px;
    font-weight: 800;
  }

  .total {
    font-size: 22px;
    padding: 20px;
  }

  .total-input {
    width: 186px;
    height: 37px;
    border: solid #a5d8e3 6px;
    border-radius: 15px;
    margin-right: 40px;
    font-size: 22px;
    padding: 11px;
  }

  .total label {
    margin-right: 7px;
  }

  .total button {
    width: 207px;
    margin-top: 35px;
  }
}
