* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Dosis", sans-serif;
}

body {
  color: #0d0d0d;
  background-color: white;
}

h1 {
  font-size: 80px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-size: 30px;
}

hr {
  width: 100%;
  height: 4px;
  background-color: #39bf4d;
}

button {
  font-weight: 700;
  outline: none;
  background-color: transparent;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

/* FONDO Y ESTILOS DE PANTALLA LOGIN */

.login-screen {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backg-img {
  width: 100%;
  height: 100%;
  display: block;
  /* position: relative; */
}

.backg-img::after {
  content: "";
  background-image: url(./components/ux_resources/green-earth.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center 400px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Estilos barras de color */

.rectangles {
  width: 100%;
  position: relative;
}

.black-rectangle {
  width: 100%;
  height: 11vh;
  background: #0d0d0d;
  padding-top: 6vh;
}

.green-rectangle {
  width: 100%;
  height: 3vh;
  background: #39bf4d;
}

/* Estilos logo */
.logo-app {
  height: 30vw;
  pointer-events: none;
  margin-top: 30px;
}

/* Estilos saludo login */
.greeting-login {
  margin-top: 150px;
  font-weight: 700;
}

.unregistrer-msn {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  padding: 10px;
}

/* Formulario login */
.input-btn-form {
  margin-top: 150px;
}

/* Input login */
.input-login {
  background-color: rgba(105, 105, 105, 0.315);
  width: 60vw;
  height: 90px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  border: transparent;
  text-align: center;
  margin-top: 30px;
  outline: 0px;
}

/* Botón verde */
.btn-green {
  width: 50vw;
  height: 80px;
  margin-top: 50px;
  background-color: #39bf4d;
  color: white;
  border: transparent;
  font-size: 50px;
  outline: 0px;
}

.btn-green-add {
  margin-top: 0px;
}

/* ESTILOS DE PANTALLAS PLACES */
.places-screen {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
}

.menu-ham {
  width: 65px;
  left: 6vw;
  top: 2vh;
  margin-top: 22px;
  position: absolute;
}

.logo-nav {
  width: 200px;
  position: relative;
}

/* Estilos barras y mesas */
.tables-bars {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  text-align: center;
}

.bars-btn {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid #0d0d0d;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  outline: 0px;
}

.tables {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-btn {
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid #0d0d0d;
  margin-right: 35px;
  margin-left: 35px;
  cursor: pointer;
  outline: 0px;
}

.rectangle-tabar-selection {
  width: 100%;
  height: 77px;
  background: #39bf4dad;
  margin-top: 100px;
  padding: 16px 40px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  text-align: left;
}

/* Sección de registro de lugar y numero de personas */
.label-detail {
  font-size: 35px;
  font-weight: 800;
  color: #373a47;
}
.data-detail {
  font-size: 35px;
  font-weight: 400;
  color: #0d0d0d;
}
.people-name-number {
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
}

.people-name-number p {
  display: inline;
  margin-right: 20px;
}

/* Input nombre de persona */
.input-name {
  width: 40vw;
  height: 50px;
  border: solid gray 8px;
  border-radius: 20px;
  outline: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

/* Input Spiner */
.input-spiner {
  width: 10vw;
  height: 50px;
  border: solid gray 8px;
  border-radius: 20px;
  outline: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.people-name-number label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

/* ESTILOS PANTALLA DE DETALLE */
.detail_screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.rectangle-tabar-detail {
  width: 100%;
  height: 77px;
  background: #39bf4dad;
  padding: 10px;
  padding: 16px 40px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  text-align: left;
}

.people-number-detail {
  width: 90vw;
  height: 150px;
  text-align: end;
  /* padding-right: 80px; */
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

/* Tabla de detalle de consumo de comensal */

.people-number-detail label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

.table-detail-container {
  width: 90vw;
  height: 65vh;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}
.table-detail-guest {
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: gray;
}

th,
td {
  padding: 10px;
}

td img {
  width: 30px;
}

.options_detail {
  position: relative;
  margin-right: -75px;
  margin-left: 20px;
}

.cost {
  text-align: right;
}

.comment {
  text-align: center;
}

/* Sección de total */
.total {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: gray;
  padding: 30px;
  text-align: center;
}

.total button {
  width: 280px;
  margin-top: 0px;
}

.total-input {
  width: 200px;
  height: 70px;
  border: solid gray 8px;
  border-radius: 20px;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: gray;
  padding: 30px;
  text-align: right;
  padding-right: 10px;
}

.total label {
  margin-right: 20px;
}

/* SECCIÓN LISTA DE CUENTAS */
.rectangle-account {
  width: 100%;
  height: auto;
  background: #39bf4dad;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
}

/* SECCIÓN MENÚ */
.menu {
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}
.menu-draws {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.menu-draws button {
  width: 160px;
  height: 160px;
  padding: 30px;
  margin: 6px 35px;
  border: transparent;
  border-radius: 25px;
  background: transparent;
  outline: 0px;
}

.menu-draws button:hover {
  background-color: #39bf4d;
}

.menu-draws img {
  width: 100%;
  height: auto;
}

.menu-w-summary {
  width: 90vw;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  text-align: center;
}

.menu-buy {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.menu-buy div {
  width: inherit;
  height: auto;
}

.tag-menu-product {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  color: #0d0d0d;
}

.btn-hd {
  margin-bottom: 26px;
}

.btn-product {
  box-shadow: 2px 2px 10px #666;
}

.tag-menu-product th,
td {
  border-color: transparent;
}

.tag-menu-product thead tr th {
  font-size: 30px;
  text-align: center;
}

.tag-menu-product tbody tr th {
  width: 236px;
  font-size: 30px;
}

.btn-inc-dec {
  border: solid black 2px;
  background-color: black;
  width: 45px;
  height: 45px;
  font-size: 40px;
  border-radius: 50px;
  font-weight: 900;
  color: aliceblue;
  line-height: 40px;
  outline: 0px;
}

.increase {
  background-color: white;
  color: black;
}

.pizza-input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: solid 5px gray;
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 30px;
  font-weight: 700;
}

table {
  text-align: center;
}
.options-menu {
  font-weight: 700;
  width: 27vw;
  height: 50px;
  background-color: white;
  font-size: 25px;
  padding-left: 10px;
  outline: transparent;
}

.comments {
  width: 800px;
  height: 200px;
  border-radius: 25px;
  background-color: rgb(209, 207, 207);
  border: transparent;
  color: gray;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  margin: 40px;
}
/* ________________________MECHE MENÚ________________________________ */
/* Individual item */
.bm-item {
  display: block;
  text-align: right;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  font-size: 37px;
  font-weight: bold;
  outline: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 70px;
  height: 60px;
  left: 60px;
  top: 60px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #39bf4d;
  border-radius: 20px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: #39bf4d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #030303;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item hr {
  height: 5px;
  background-color: white;
  border: transparent;
}

.input-btn-form span {
  font-size: 40px;
}
