* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Playfair Display", serif;
  color: #0d0d0d;
  background-color: white;
}

h1 {
  font-size: 80px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* FONDO Y ESTILOS DE PANTALLA LOGIN */

.login-screen {
  text-align: center;
  height: 100vh;
}

.backg-img {
  width: 100%;
  height: 100%;
  display: block;
  /* position: relative; */
}

.backg-img::after {
  content: "";
  background-image: url(./components/ux_resources/green-earth.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center 400px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Estilos barras de color */

.rectangles {
  width: 100%;
  position: relative;
}

.black-rectangle {
  width: 100%;
  height: 11vh;
  background: #0d0d0d;
  padding-top: 6vh;
}

.green-rectangle {
  width: 100%;
  height: 3vh;
  background: #39bf4d;
}

/* Estilos logo */
.logo-app {
  height: 30vw;
  pointer-events: none;
  margin-top: 30px;
}

/* Estilos saludo login */
.greeting-login {
  margin-top: 150px;
}

/* Formulario login */
.input-btn-form {
  margin-top: 150px;
}

/* Input login */
.input-login {
  background-color: rgba(105, 105, 105, 0.315);
  width: 60vw;
  height: 90px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  border: transparent;
  text-align: center;
  margin-top: 80px;
  outline: 0px;
}

/* Botón verde */
.btn-green {
  width: 50vw;
  height: 80px;
  margin-top: 50px;
  background-color: #39bf4d;
  color: white;
  border: transparent;
  font-size: 50px;
  outline: 0px;
}

/* ESTILOS DE PANTALLAS PLACES */
.places-screen {
  height: 100vh;
  text-align: center;
}

.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
}

.menu-ham {
  width: 65px;
  left: 5vw;
  margin-top: 22px;
  position: absolute;
}

.logo-nav {
  width: 200px;
  position: relative;
}

/* Estilos barras y mesas */
.tables-bars {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  text-align: center;
}

.bars-btn {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid #0d0d0d;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  outline: 0px;
}

.tables {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-btn {
  width: 150px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid #0d0d0d;
  margin-right: 35px;
  margin-left: 35px;
  cursor: pointer;
  outline: 0px;
}

.rectangle-tabar-selection {
  width: 100%;
  height: auto;
  background: #39bf4dad;
  margin-top: 100px;
  padding: 16px 40px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  text-align: left;
}

/* Sección de registro de lugar y numero de personas */
.people-name-number {
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
}

.people-name-number p {
  display: inline;
  margin-right: 20px;
}

/* Input nombre de persona */
.input-name {
  width: 40vw;
  height: 50px;
  border: solid gray 8px;
  border-radius: 20px;
  outline: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

/* Input Spiner */
.input-spiner {
  width: 10vw;
  height: 50px;
  border: solid gray 8px;
  border-radius: 20px;
  outline: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.imagenes-menu {
  /*No borrar*/
  height: 10vh;
  width: 30rem;
  /* background-color: green; */
  border-color: black;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 2.5rem;
  flex-wrap: wrap;
}
.food {
  /*No borrar*/
  height: 4.8vh;
  margin-left: 3rem;
  margin-top: 0.6rem;
  transition: background-color 0.5s;
}
.food:hover {
  /*No borrar*/
  background-color: #39bf4d;
  border-radius: 5px;
}
.tag-food {
  /*No borrar*/
  width: 11rem;
  height: 2.7vh;
  background-color: white;
  border-radius: 5px;
  border-color: #cdcdcd;
  border-style: solid;
  margin-top: 2rem;
  color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
p {
  /*No borrar*/
  font-size: 0.9rem;
  margin: 0rem 0.2rem 0.5rem 2.8rem;
}
.All-menu {
  /*No borrar*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  width: 40rem;
  height: 80vh;
}
.menu-draws {
  /*No borrar*/
  height: 10vh;
  margin-top: -1.4rem;
}
.tag-ham {
  /*No borrar*/
  height: 15vh;
  margin-left: 1rem;
}
.menu-buy {
  /*No borrar*/
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}
.input-buy {
  /*No borrar*/
  width: 2rem;
  height: 2.7vh;
  border-radius: 5px;
  border-color: #cdcdcd;
  border-style: solid;
  margin-top: 0.5rem;
  margin-left: 0rem;
  color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
}

.input-foodbuy,
.btn-numbuy,
.btn-numbuy-white,
.menu {
  /*No borrar*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn-black,
.btn-white {
  /*No borrar*/
  width: 2rem;
  height: 2.7vh;
  border-radius: 50px;
  background-color: #0d0d0d;
  margin-top: 0.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
.btn-white {
  /*No borrar*/
  background-color: white;
  color: #0d0d0d;
  border-style: solid;
  border-color: #0d0d0d;
  margin-left: 0.7rem;
}
.text-menu {
  /*No borrar*/
  margin-top: 3rem;
  margin-left: 11rem;
  display: flex;
  flex-direction: row;
}
.btn-green {
  /*No borrar*/
  width: 14rem;
  height: 4vh;
  margin-left: 8rem;
  font-size: 25px;
  margin-top: 1rem;
}
.comment {
  /*No borrar*/
  width: 20rem;
  height: 6vh;
  background-color: #cdcdcd;
  margin-left: 5rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  width: 768px;
  height: 1024px;
}
/* } */
/* ----------------------------------------------------------------------------------- */
.people-name-number label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

/* ESTILOS PANTALLA DE DETALLE */
.rectangle-tabar-detail {
  width: 100%;
  height: auto;
  background: #39bf4dad;
  padding: 10px;
  padding: 16px 40px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
  text-align: left;
}

.people-number-detail {
  width: 100%;
  height: auto;
  text-align: end;
  padding-right: 80px;
  padding-top: 30px;
}

/* Tabla de detalle de consumo de comensal */

.people-number-detail label {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 700;
}

.table-detail-guest {
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: gray;
}

th,
td {
  border: rgb(182, 181, 181) solid 6px;
  padding: 10px;
}

td img {
  width: 30px;
}

.options_detail {
  position: relative;
  margin-right: -75px;
  margin-left: 20px;
}

.cost {
  text-align: right;
}

.comment {
  text-align: center;
}

/* Sección de total */
.total {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: gray;
  padding: 30px;
  text-align: center;
}

.total button {
  width: 280px;
  margin-top: 0px;
}

.total-input {
  width: 200px;
  height: 70px;
  border: solid gray 8px;
  border-radius: 20px;
  margin-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: gray;
  padding: 30px;
  text-align: right;
  padding-right: 10px;
}

.total label {
  margin-right: 20px;
}

/* SECCIÓN LISTA DE CUENTAS */
.rectangle-account {
  width: 100%;
  height: auto;
  background: #39bf4dad;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: transparent;
  outline: 0px;
}
