* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
​ body {
    font-family: "Playfair Display", serif;
    color: #0d0d0d;
}
​ h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


/* Estilos barras de color */
​ .rectangles {
    width: 100%;
    position: relative;
}
​ .black-rectangle {
    width: 100%;
    height: 11vh;
    background: #0d0d0d;
    padding-top: 6vh;
}
​ .green-rectangle {
    width: 100%;
    height: 3vh;
    background: #39bf4d;
}
​
/* Estilos barras y mesas */
.tables-bars {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    text-align: center;
}
​ .bars-btn {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid #0d0d0d;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: 0;
}
​ .tables {
    margin-top: 40px;
    margin-bottom: 40px;
}
​ .table-btn {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid #0d0d0d;
    margin-right: 35px;
    margin-left: 35px;
    cursor: pointer;
    outline: 0;
}
​ .rectangle-tabar-selection {
    width: 100%;
    height: 5vh;
    background: #39bf4dad;
    margin-top: 50px;
}
​ .rectangle-tabar-selection h2 {
    padding-top: 10px;
    padding-left: 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 768px) {
  
  .imagenes-menu{
    height: 30vh;
    width: 3rem;
    border-color: black;
    align-items: center;
    display: flex;
    margin-top: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem; 
  }
  .burger{
    height: 15vh;
    margin-left: 0.9rem;
  }
}
