body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Vista de tablet */
@media only screen and (max-width: 768px) {  
  /* Estilos: página de pedidos */
  
  .imagenes-menu{
    height: 28vh;
    width: 34rem;
    /* background-color: green; */
    border-color: black;
    align-items: center;
    display: flex;
    margin-top: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem; 
    flex-wrap: wrap;
    
  }
  .food{
    height: 10vh;
    margin-left: 3rem;
    
  }
}

